<!-- Top-Bar START -->
<div id="top-bar" class="hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-xs-12">
                <div class="top-bar-welcome">
                    <ul>
                        <li>Bienvenu sur l'agence professionel d'artisant </li>
                    </ul>
                </div>
                <div class="top-bar-info">
                    <ul>
                        <li><i class="fa fa-phone"></i>(+123) 456 7890<li>
                        <li><i class="fa fa-envelope"></i>example@gmail.com<li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-xs-12">
                <ul class="social-icons hidden-sm">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Top-Bar END -->



<!-- Navbar START -->
<header>
    <div class="nav-wrapper">
        <nav class="navbar navbar-default navbar-custom" data-spy="affix" data-offset-top="50">
            <div class="container">
                <div class="row">
                    <div class="navbar-header navbar-header-custom">
                        <button type="button" class="navbar-toggle collapsed menu-icon" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-logo" href="index.html"><img src="" alt="logo" id="logo" width="200px" height="200px"></a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right navbar-links-custom">
                            <li class="dropdown">
                                <a href="{{ path('index') }}">Accueil</a>
                            </li>

                            <li class="dropdown">
                                <a href="{{ path('service') }}">Service</a>
                            </li>
                            <li class="dropdown">
                                <a href="#">Brand Ambassador</a>
                            </li>

                            <li class="dropdown">
                                <a href="{{ path('about') }}">A propos</a>
                            </li>
                            <li class="dropdown">
                                <a href="{{ path('contact') }}">Contact</a>
                            </li>

                            <li class="dropdown">
                                <a href="">Connexion</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
<!-- Navbar END -->